<?xml version="1.0" encoding="utf-8"?>
<root>
  <host>
    <param>
      <name>nCPUCORES</name>
      <value>1</value>
      <description>number of CPU cores</description>
    </param>
  </host>
  <device>
    <param>
      <name>nCUDABLOCKS</name>
      <value>64</value>
      <description>number of CUDA blocks</description>
    </param>
    <param>
      <name>nCUDATHREADSPERBLOCK</name>
      <value>512</value>
      <description>number of threads per CUDA block</description>
    </param>
  </device>
  <process>
    <stage>
      <name>MAKE_DATACUBE_ON_HOST</name>
    </stage>
    <stage>
      <name>H_CROP_TO_EVEN_SQUARE</name>
    </stage>
    <stage>
      <name>COPY_HOST_DATACUBE_TO_DEVICE</name>
    </stage>
    <stage>
      <name>D_FFT</name>
    </stage>
    <stage>
      <name>D_FFTSHIFT</name>
    </stage>
    <stage>
      <name>D_RESCALE_DATACUBE_TO_REFERENCE_WAVELENGTH</name>
      <param>
        <name>WAVELENGTH</name>
        <value>2400</value>
        <description>wavelength to rescale to (nm)</description>
      </param>
    </stage>
    <stage>
      <name>D_IFFTSHIFT</name>
    </stage>
    <stage>
      <name>D_IFFT</name>
    </stage>
    <stage>
      <name>D_CROP_TO_SMALLEST_DIMENSION</name>
    </stage>
    <stage>
      <name>D_SET_DATA_TO_AMPLITUDE</name>
    </stage>
    <stage>
      <name>D_SPAXEL_FIT_POLY_AND_SUBTRACT</name>
      <param>
        <name>POLY_ORDER</name>
        <value>2</value>
        <description>polynomial order of fit</description>
      </param>
    </stage>
    <!--<stage>
      <name>D_FFT</name>
    </stage>
    <stage>
      <name>D_FFTSHIFT</name>
    </stage>
    <stage>
      <name>D_RESCALE_DATACUBE_TO_PRE_RESCALE_SIZE</name>
    </stage>
    <stage>
      <name>D_IFFTSHIFT</name>
    </stage>
    <stage>
      <name>D_IFFT</name>
    </stage>-->
    <stage>
      <name>D_SET_DATA_TO_AMPLITUDE</name>
    </stage>
    <stage>
      <name>COPY_DEVICE_DATACUBE_TO_HOST</name>
    </stage>
  </process>
</root>
